<div class="top-bar">&nbsp;</div>
<header>
  <div class="container">
    <h1 id="logo" class="content">
      <a href="{{ site.url }}/" data-escp="">Cloud Compute</a>
    </h1>
    <nav id="nav">
      <ul class="content">
        <li{% if page.body_class == 'overview' %} class="current"{% endif %}>
          <a href="{{ site.url }}/">Overview</a>
        </li>
        <li{% if page.body_class == 'trainers' %} class="current"{% endif %}>
          <a href="{{ site.url }}/trainers/">IaaS</a>
        </li>
        <li{% if page.body_class == 'web' %} class="current"{% endif %}>
          <a href="{{ site.url }}/web/">Docker</a>
        </li>
        <li{% if page.body_class == 'in-person' %} class="current"{% endif %}>
          <a href="{{ site.url }}/in-person/">Network</a>
        </li>
        <li{% if page.body_class == 'resources' %} class="current"{% endif %}>
          <a href="{{ site.url }}/resources/">Linux</a>
        </li>
        <li{% if page.body_class == 'contact' %} class="current"{% endif %}>
          <a href="{{ site.url }}/contact/">Other</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
